<%#= link_to "Link com MercadoPago", "https://auth.mercadopago.com.br/authorization?client_id=1151777695455904&response_type=code&platform_id=mp&redirect_uri=https://264f3981b3e2.ngrok.io/pages/credentials" %>
<h1>Credenciais</h1>

