<div class="admin-profile">
    <div class="forms-container">
        <%= render 'shared/forms/user_data', user: current_user %>
        <div class="form-box">
            <span class="form-info-toggler" data-offer="">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i class="fa fa-check" aria-hidden="true"></i>
            </span>
            <h3 class="form-title">
            Loja
            </h3>
        </div>
        <div class="form-box">
            <span class="form-info-toggler" data-offer="">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i class="fa fa-check" aria-hidden="true"></i>
            </span>
            <h3 class="form-title">
            Endereço de Cobrança
            </h3>
        </div>
        <div class="form-box">
            <span class="form-info-toggler" data-offer="">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i class="fa fa-check" aria-hidden="true"></i>
            </span>
            <h3 class="form-title">
            Endereço Alternativo
            </h3>
        </div>
    </div>
</div>