<header class="admin-header">
    <nav class="main-navbar">
        <div class="left-nav">
            <div class="logo-box">
            <%= link_to root_path do %>
                <%= image_tag 'Logo@2x.png', alt:"suplemento rápido logo", class:"logo" %>
            <% end %>
            </div>
        </div>
        <span class="navbar_toggler">
            <i class="fa fa-bars"></i>
        </span>
    </nav>
</header>
