<h1>Checkout</h1> <br>

<%= link_to 'Continuar comprando', offers_path %>


<% if @cart.cart_offers.count > 0 %>
  <form action="/procesar-pago" method="POST">
    <script
    src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
    data-preference-id="<%= @preference_id %>">
    </script>
  </form>
<% end %>

