<div class="checkout">

  <div class="login_card">

    <div class="header">
      <h4>Identificação</h4>
    </div>
    <div class="content">
      <h6>Nome:</h6>
      <p>Rua das ameixas, 132 São Paulo - SP</p>
    </div>
    <div class="content">
      <h6>Email:</h6>
      <p>thierry@sw.com</p>
    </div>

  </div>

  <div class="payment_options_card">

    <div class="header">
      <h4>Pagamento</h4>
    </div>
    <div class="content">
      <h6>Nome:</h6>
      <p>Rua das ameixas, 132 São Paulo - SP</p>
    </div>
    <div class="content">
      <h6>Email:</h6>
      <p>thierry@sw.com</p>
    </div>

  </div>

  <div class="cart_resume_card">

    <div class="header">
      <h4>Resumo do pedido</h4>
    </div>
    <div class="content">
      <h6>Nome:</h6>
      <p>Rua das ameixas, 132 São Paulo - SP</p>
    </div>
    <div class="content">
      <h6>Email:</h6>
      <p>thierry@sw.com</p>
    </div>

  </div>

</div>

























<h1>Checkout</h1> <br>

<%= link_to 'Continuar comprando', offers_path %>


<% if @cart.cart_offers.count > 0 %>
  <form action="/procesar-pago" method="POST">
    <script
    src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
    data-preference-id="<%= @preference_id %>">
    </script>
  </form>
<% end %>

