<div class="offer_show">

  <div class="sucess_warn">
    <h4>Pedido realizado com sucesso! Muito Obrigado por comprar conosco!</h4>
  </div>

  <div class="order">

    <div class="order_number">
      <p>Número do pedido:</p>
      <h4>8874SSDD98987D14BR</h4>
    </div>

    <div class="order_msg">
      <h6>Pagamento sujeito à a confirmação pela operadora</h6>
      <p>Total de R$ 150,00 em 4x sem juros</p>
      <p>Previsão de entrega de acordo com o anúncio</p>
    </div>
  </div>

  <div class="order_info">

    <div class="personal_info">
      <div class="header">
        <h4>Dados Pessoais</h4>
      </div>
      <div class="content">
        <h6>Nome:</h6>
        <p>Rua das ameixas, 132 São Paulo - SP</p>
      </div>
      <div class="content">
        <h6>Email:</h6>
        <p>thierry@sw.com</p>
      </div>
    </div>

    <div class="personal_info">
      <div class="header">
        <h4>Resumo da entrega</h4>
      </div>
      <div class="content">
        <h6>Endereço:</h6>
        <p>Rua das ameixas, 132 São Paulo - SP</p>
      </div>
      <div class="content">
        <h6>CEP:</h6>
        <p>79823-440</p>
      </div>
    </div>

    <div class="personal_info">
      <div class="header">
        <h4>Resumo do pedido</h4>
      </div>

      <div class="order_details">
        <h6>Quantidade de produtos:</h6>
        <p>4</p>
      </div>
      <div class="order_details">
        <h6>Valor:</h6>
        <p>R$ 490,00</p>
      </div>
      <div class="order_details">
        <h6>Frete:</h6>
        <p>R$ 10,00</p>
      </div>
      <div class="order_details">
        <h6>Desconto:</h6>
        <p>R$ 00,00</p>
      </div>

      <div class="resume_footer">
        <h6>Total do pedido:</h6>
        <p>R$ 500,00</p>
      </div>
    </div>

  </div>

</div>
