<div class="address-modal <%= 'open' if address.zipcode.blank?  %>" data-controller="address">
  <div class="modal-content">
    <span class="close-address" data-action="click->address#closeModal">
      <i class="fa fa-times"></i>
    </span>
    <div class="actions">
      <h3 class="address-header">
        Onde você quer receber o seu pedido?
      </h3>
    </div>
  </div>
</div>

