<div class="offer-modal" data-controller="modal">
    <div class="modal-content">
        <h3 class="message">PRODUTO ADICIONADO AO CARRINHO</h3>
        <h4 class="product-name" data-targe="modal.name"></h4>
        <%= image_tag '', class: "product-image", data: { target: "modal.image" } %>
    </div>
</div>