<h1>Offers#show</h1>
<p>Find me in app/views/offers/show.html.erb</p>

<% @offer.products.each do |product| %>
  <%= image_tag product.product_photos.where(name: "Principal").first.url %>
  <p>- <%= product.name %></p>
  <%= link_to 'Auditar oferta', edit_offer_path(@offer.id) if current_user && current_user.admin? %>
<% end %>

<%= link_to 'Voltar', root_path %>
