.admin-offers {
  display: grid;
  grid-template-columns: repeat(5, 17%);
  grid-gap: 2rem;
  justify-content: center;
  .admin-offer {
    display: flex;
    height: 20rem;
    flex-direction: column;
    align-items: center;
    border: solid 1px $color-grey-light-2;
    position: relative;
    .form-toggler {
      position: absolute;
      font-size: 2rem;
      color: $color-primary-light;
      right: 1rem;
      top: 0.7rem;
      transition: 0.3s linear;
      cursor: pointer;
      .fa-check {
        display: none;
        color: $color-sucess;
      }
      .fa-pencil-square-o {
        display: block;
      }
    }
    .form-toggler.toggled {
      .fa-check {
        display: block;
      }
      .fa-pencil-square-o {
        display: none;
      }
    }
    .offer-head {
      display: flex;
      align-items: center;
      width: 100%;
      flex: 0 0 53%;
      img.product-image {
        height: 81%;
        width: 40%;
        margin-left: 1%;
        object-fit: contain;
      }
      .product_info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 60%;
        height: 40%;
        h3.product_title {
          font-size: 1.2rem;
          font-style: italic;
        }
        p.product_brand {
          font-size: 1.1rem;
          color: $color-grey-dark-1;
        }
      }
    }
    .edit_offer {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 47%;
      width: 100%;
      .form-field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        border-top: 1px solid $color-grey-light-2;
        padding: 0 7%;
        .form-label {
          color: $color-grey-light-3;
          font-style: italic;
          font-size: 1.2rem;
        }
        .input {
          display: flex;
          justify-content: flex-end;
        }
        .form_input {
          width: 4rem;
          &:disabled {
            background-color: white;
          }
        }
        .form_input-larger {
          width: 4.7rem;
        }
        .currency,
        .form_input {
          text-align: end;
          border: none;
          font-style: italic;
          font-size: 1.5rem;
          font-weight: bolder;
          .currency-real {
            font-size: 1.55rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $bp-largest) {
    width: 100%;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 1rem;
  }
  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    grid-template-columns: repeat(3, 30%);
  }
  @media only screen and (max-width: $bp-small) {
    width: 100%;
    grid-template-columns: repeat(2, 35%);
  }
  @media only screen and (max-width: $bp-smallest) {
    width: 100%;
    grid-template-columns: repeat(2, 45%);
  }
}

// ADMIN OFFERS SEARCH

.admin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .admin_search {
    display: flex;
    width: 50%;
    margin-right: 2.3rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    .admin_search_input {
      border: 1px solid $color-grey-light-3;
      border-radius: 7px 0px 0px 7px;
      flex-grow: 1;
      height: 100%;
      padding: 1.1rem 1.6rem;
      font-style: italic;
      &::placeholder {
        font-family: $font-primary;
        color: $color-grey-light-3;
      }
    }
    .admin_search_button {
      width: 5rem;
      background-color: $color-grey-dark-2;
      border: 1px solid $color-grey-light-3;
      border-radius: 0px 7px 7px 0px;
      i {
        font-size: 2rem;
        color: white;
      }
    }
    @media only screen and (max-width: $bp-small) {
      width: 70%;
      margin-right: 0;
    }
  }
}
