// MAIN STYLES TO CART
.cart {
  width: 56%;
  background-color: white;
  margin: 4.2rem auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  border: 1px solid $color-grey-light-2;
  .cart_title,
  .sugestions_title {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: $color-grey-dark-2;
  }
  .sugestions_title {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
  }
  .sold_by {
    font-size: 1.2rem;
    font-style: italic;
    .store_link {
      color: $color-primary-light;
      font-weight: 600;
    }
  }
}

// OFFERS PART ON CART - HEADERS AND LAYOUT

.cart_main {
  display: flex;
  width: 100%;
  .cart_offers {
    flex: 0 0 63%;
    border: 1px solid $color-grey-light-2;
    margin-right: 2.2rem;
    align-self: start;
    .offer_headers {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 3.1rem;
      border-bottom: 1px solid $color-grey-light-2;
      h4.product_column {
        flex: 0 0 30%;
      }
      h4 {
        font-style: italic;
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }
  .cart_checkout {
    display: flex;
    flex-direction: column;
    width: 100%;
    .cart_order {
      border: 1px solid $color-grey-light-2;
      .order_header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.1rem;
        border-bottom: 1px solid $color-grey-light-2;
        font-style: italic;
        font-size: 1.4rem;
        text-align: center;
      }
      .order_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        .freight,
        .subtotal,
        .uncovered_area {
          font-size: 1.4rem;
          font-style: italic;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;
          padding: 0 2rem;
        }
        .total {
          font-style: italic;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.6rem;
          border-top: 1px solid $color-grey-light-2;
          padding: 0 2rem;
          span {
            font-size: 1.8rem;
            font-style: normal;
            font-weight: bolder;
          }
        }
      }
    }
    .checkout_button {
      background-color: $color-primary-light;
      color: white;
      font-style: italic;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      margin-top: 1rem;
    }
    .coupon_form {
      width: 100%;
      display: flex;
      margin-top: 1rem;
      .coupon_input {
        border: 1px solid $color-grey-light-3;
        padding: 0 1rem;
        border-radius: 7px 0px 0px 7px;
        flex-grow: 1;
        height: 2.5rem;
        font-style: italic;
        background-color: $color-grey-light-1;
        &::placeholder {
          background-color: transparent;
          font-family: $font-primary;
          color: $color-grey-light-3;
        }
      }
      .coupon_submit {
        border: none;
        i {
          border-radius: 0px 7px 7px 0px;
          background-color: $color-grey-dark-2;
          width: 3rem;
          height: 2.5rem;
          font-weight: bolder;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 1.8rem;
        }
      }
    }
  }
}

// OFFERS BODY STYLES

.cart {
  .cart_offers {
    .offers_body {
      display: flex;
      flex-direction: column;
      width: 100%;
      .offer {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $color-grey-light-2;
        .offer_product {
          flex: 0 0 43%;
          display: flex;
          align-items: center;
          img {
            width: 10rem;
            height: 10rem;
          }
          .product_info {
            align-self: start;
            margin-top: 1.2rem;
            display: flex;
            flex-direction: column;
            .product_title {
              font-size: 1.3rem;
              font-style: italic;
              font-weight: 700;
              word-wrap: break-word;
            }
            .product_flavor {
              font-size: 1.2rem;
              color: $color-grey-light-3;
              font-style: italic;
            }
          }
        }
        .offer_info {
          display: flex;
          width: 100%;
          & > * {
            flex: 0 0 33%;
            display: flex;
            justify-content: center;
            align-items: start;
            margin-top: 2rem;
          }
          .offer_price,
          .offer_total {
            font-size: 1.4rem;
          }
          .offer_qtt {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 1.5rem;
            .offer_qtties {
              width: 100%;
              display: flex;
              justify-content: space-around;
              font-size: 1.5rem;
              font-weight: bolder;
              margin-top: 0.5rem;
              .qtt_button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
                font-size: 1.4rem;
                color: $color-grey-dark-2;
              }
            }
            .remove_button {
              font-size: 1.2rem;
              font-style: italic;
              color: $color-grey-dark-2;
            }
          }
        }
      }
      .offer:last-child {
        border-bottom: none;
      }
    }
  }
}

// CART SUGESTIONS

.cart {
  .cart_sugestions {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    width: 100%;
    .offer {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid $color-grey-light-2;
      margin-bottom: 3rem;
      & > a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img.product_image {
        width: 70%;
        height: 10rem;
        object-fit: contain;
        margin: 1rem;
      }
      .product_info {
        padding: 0 1.8rem;
        width: 100%;
        color: $color-grey-dark-2;
        margin-bottom: 1rem;
        .product_title {
          font-size: 1.5rem;
          font-style: italic;
          font-weight: 700;
          text-align: center;
        }
      }
      .offer_info {
        width: 100%;
        border-top: 0.5px solid $color-grey-light-2;
        padding: 1rem 1.7rem;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 10rem;
        .offer_price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-size: 1.4rem;
            font-style: italic;
            color: $color-grey-light-3;
          }
          .price_number {
            color: $color-grey-dark-2;
            font-size: 2rem;
            font-weight: 700;
          }
        }
        .buy_box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .like_cart_button,
          .offer_cart_button {
            font-size: 2.1rem;
            border-radius: 6px;
            transition: all 0.1s linear;
          }
          .like_cart_button {
            color: $color-grey-light-2;
            border: 1px solid $color-grey-light-2;
            padding: 0 1.3rem;
            &:hover i {
              color: $color-primary-light;
            }
          }
          .offer_cart_button {
            color: white;
            background-color: $color-primary-light;
            padding: 0 3rem;
            &:hover {
              background-color: $color-primary;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $bp-largest) {
    .offer_info {
      min-height: 12rem;
    }
  }
}
