.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57%;
  height: 752px;
  border: 1px solid #DBDBDB;
  background-color: #ffffff;
  margin: 50px auto;
  padding: 61px;

  .login_card {
    width: 311px;
    height: 387px;
    border: 1px solid $color-grey-light-2;
    position: relative;
    text-align: center;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-grey-light-2;
      height: 45px;

      h4 {
        font-size: 14px;
        font-style: italic;
        font-weight: bold;
        color: $color-grey-dark-2;
      }
    }

    .content {
      flex-direction: column;
      padding: 15px 25px;

      .subheader {
        margin-bottom: 1rem;
      }

      h6 {
        font-weight: lighter;
        font-size: 12px;
        font-style: normal;
      }

      p {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
      }

      .input_login {
        height: 30px;
        width: 75%;
        border: 1px solid $color-grey-light-3;
        border-radius: 7px;
        padding: 0 8px;
        margin-bottom: 2rem;
        font-style: italic;
      }

      input[type="submit"] {
        border: none;
        background-color: $color-sucess;
        font-size: 16px;
        font-style: italic;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 41px;
        padding: 8px;
        margin-left: 61px;
      }
    }

    .btn_div {
      margin-left: 85px;
      width: 87%;

      .new_acc_btn {
        a {
          background-color: $color-primary-light;
          font-size: 16px;
          font-style: italic;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          padding: 8px;
        }
      }
    }
  }

  .payment_options_card {
    width: 311px;
    height: 387px;
    border: 1px solid $color-grey-light-2;
    position: relative;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-grey-light-2;
      height: 45px;

      h4 {
        font-size: 14px;
        font-style: italic;
        font-weight: bold;
        color: $color-grey-dark-2;
      }
    }

    .content {
      flex-direction: column;
      padding: 15px 25px;

      h6 {
        font-weight: lighter;
        font-size: 12px;
        font-style: normal;
      }

      p {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
      }

      .payment_options {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        height: 90px;
        justify-content: space-between;

        i {
          font-size: 3.5rem;
          margin-right: 3rem;
        }

        span {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: bold;
        }
      }

      .mercadopago-button {

        width: 120px;
        font-style: italic;
        font-size: 16px;
        border-radius: 0;
        display: flex;
        justify-content: center;
        margin-left: 70px;
        margin-top: 50px;
      }
    }
  }

  .cart_resume_card {
    width: 311px;
    height: 387px;
    border: 1px solid $color-grey-light-2;
    position: relative;

    .products_resume {
      height: 167px;
      overflow: hidden;
      overflow-y: scroll;
      border-bottom: 1px solid $color-grey-light-2;

      .resume_card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid $color-grey-light-2;

        img {
          width: 76px;
          height: 76px;
        }

        .product_name {
          display: flex;
          flex-wrap: wrap;
          font-size: 12px;
          font-weight: bold;
          font-style: italic;

          span {
            margin-left: 2px;
          }

          .flavor {
            font-size: 8px;
            color: $color-grey-light-2;
          }
        }

        .total_price {
          display: flex;
          flex-direction: column;
          width: 110px;
          font-size: 14px;
          text-align: end;
          margin-right: 5px;
        }
      }
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-grey-light-2;
      height: 45px;

      h4 {
        font-size: 14px;
        font-style: italic;
        font-weight: bold;
        color: $color-grey-dark-2;
      }
    }

    .content {
      flex-direction: column;
      padding: 15px 25px;

      h6 {
        font-weight: lighter;
        font-size: 12px;
        font-style: normal;
      }

      p {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
      }
    }

    .resume_footer {
      background-color: $color-grey-light-2;
      height: 45px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      bottom: 0;

      p {
        font-style: normal;
      }
    }

    .footer_checkout {
      background-color: $color-grey-light-2;
      height: 45px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      padding: 0 16px;

      h4 {
        font-size: 1.6rem;
        font-style: italic;
      }

      p {
        font-style: italic;
        font-size: 1.6rem;
      }
    }

    .freigth_details {
      width: 100%;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      padding: 8px;

      span {
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: $bp-small) {

  .checkout {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 0 25px;

    .login_card {
      margin-bottom: 2rem;
    }
    .payment_options_card {
      margin-bottom: 2rem;
    }
    .cart_resume_card {
      margin-bottom: 2rem;
    }
  }
}
