// MAIN HEADER STYLES

header.header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 11%;
  width: 100%;
  .main-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  a {
    font-size: 1.2rem;
    color: white;
    font-style: italic;
    font-weight: 600;
  }
  .left-nav {
    flex: 0 1 22%;
    .logo-box {
      display: flex;
      justify-content: flex-end;
      .logo {
        height: 4.5rem;
        width: 17rem;
      }
    }
  }
  .center-nav {
    flex: 0 0 56%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .address {
      margin-left: 6rem;
    }
  }
  .right-nav {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    height: 5rem;
    margin-right: 4%;
    @media only screen and (max-width: $bp-largest) {
      margin-right: 3%;
    }
  }
}

// FORM STYLES

.nav_search {
  display: flex;
  width: 65%;
  margin-right: 2.3rem;
  height: 3.8rem;
  .nav_search_input {
    border: 1px solid $color-grey-light-3;
    border-radius: 7px 0px 0px 7px;
    flex-grow: 1;
    height: 100%;
    padding: 1.1rem 1.6rem;
    font-style: italic;
    &::placeholder {
      font-family: $font-primary;
      color: $color-grey-light-3;
    }
  }
  .nav_search_button {
    width: 5.3rem;
    background-color: $color-grey-dark-2;
    border: 1px solid $color-grey-light-3;
    border-radius: 0px 7px 7px 0px;
    i {
      font-size: 2.4rem;
      color: white;
    }
  }
}

// NAV SESSION

.nav_session {
  display: flex;
  width: 13rem;
  margin-left: 1.6rem;
  > * {
    display: flex;
    align-items: center;
  }
  .nav_session_login {
    padding-right: 1rem;
    border-right: solid 1px white;
  }
  .nav_session_signup {
    padding-left: 1rem;
  }
}

// NAV CART

.nav_cart {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  i {
    font-size: 3.8rem;
  }
  .nav_cart_qtt {
    font-style: normal;
    position: absolute;
    padding: 2px 8px;
    background-color: $color-grey-dark-2;
    border-radius: 50%;
    right: -1.6rem;
    top: -0.2rem;
  }
}

// Responsive navbar

.navbar_toggler {
  font-size: 3rem;
  color: white;
  width: 7rem;
  text-align: center;
  display: none;
}

@media only screen and (max-width: $bp-small) {
  header {
    padding: 0 1rem;
    .navbar_toggler {
      display: inline-block;
    }
  }
  .center-nav,
  .nav_session {
    display: none !important;
  }
}
