.content {
  display: flex;
  .filter {
    position: absolute;
    font-size: 2.5rem;
    border-radius: 50%;
    margin: 2rem 1rem;
    background-color: white;
    box-shadow: 0px 0px 2px $color-grey-light-3;
    color: $color-primary;
    width: 3rem;
    height: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    i.filter-icon {
      display: block;
      opacity: 1;
    }
    i.close-icon {
      display: none;
      opacity: 0;
      font-size: 2rem;
    }
    &.toggled {
      color: white;
      background-color: $color-primary;
      i.filter-icon {
        display: none;
        opacity: 0;
      }
      i.close-icon {
        opacity: 1;
        display: block;
      }
    }
  }
  .sidebar,
  .main {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .main {
    width: 78%;
    margin-left: auto;
    background-color: $color-grey-light-1;
  }
  .sidebar {
    height: 89%;
    width: 22%;
    position: fixed;
    background-color: white;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    .filter {
      display: flex;
    }
    .main,
    .sidebar {
      width: 100%;
    }
    .sidebar {
      max-height: 0;
      opacity: 0;
      height: auto;
      transition: 0.2s ease;
      &.toggled {
        opacity: 1;
        height: auto;
        max-height: fit-content;
        background-color: white;
        padding-bottom: 3rem;
        box-shadow: 0px 0px 5px $color-grey-light-3;
      }
    }
  }
}

.main {
  min-height: 90vh;
  .offers {
    display: grid;
    grid-template-columns: repeat(5, 17%);
    grid-column-gap: 2rem;
    justify-content: center;
    .offer {
      background-color: white;
      border-radius: 4px;
      border: 1px solid $color-grey-light-2;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      & > a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img.product_image {
        width: 80%;
        height: 17rem;
        object-fit: contain;
        margin: 1rem;
      }
      .product_info {
        padding: 0 1.8rem;
        width: 100%;
        color: $color-grey-dark-2;
        margin-bottom: 1rem;
        .product_title {
          font-size: 1.5rem;
          font-style: italic;
          font-weight: 700;
        }
        .product_brand {
          font-size: 1.3rem;
        }
      }
      .offer_info {
        width: 100%;
        border-top: 0.5px solid $color-grey-light-2;
        padding: 1rem 1.7rem;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        .offer_price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-size: 1.4rem;
            font-style: italic;
            color: $color-grey-light-3;
          }
          .price_number {
            color: $color-grey-dark-2;
            font-size: 1.8rem;
            font-weight: 700;
          }
        }
        .buy_box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .like_cart_button,
          .offer_cart_button {
            font-size: 2.1rem;
            border-radius: 6px;
            transition: all 0.1s linear;
          }
          .like_cart_button {
            color: $color-grey-light-2;
            border: 1px solid $color-grey-light-2;
            padding: 0 1.3rem;
            &:hover i {
              color: $color-primary-light;
            }
          }
          .offer_cart_button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55%;
            color: white;
            background-color: $color-primary-light;
            padding: 0.65rem 3.3rem;
            &:hover {
              background-color: $color-primary;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $bp-largest) {
    .offers {
      width: 100%;
      grid-template-columns: repeat(4, 22%);
      grid-column-gap: 2rem;
    }
  }
  @media only screen and (max-width: $bp-medium) {
    .offers {
      width: 100%;
      grid-template-columns: repeat(3, 30%);
    }
  }
  @media only screen and (max-width: $bp-medium) {
    .offers {
      width: 100%;
      grid-template-columns: repeat(2, 40%);
    }
  }
}
