.sucess_warn_mobile {
  display: none;
  background-color: #2BC470;
  height: 100px;
  padding: 27px 91px;
  margin-bottom: 28px;

  h4 {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    color: #ffff;
  }
}

.offer_show {

  .sucess_warn {
    background-color: #2BC470;
    height: 100px;
    padding: 27px 91px;
    margin-bottom: 28px;

    h4 {
      font-size: 28px;
      font-style: italic;
      font-weight: bold;
      color: #ffff;
    }
  }

  .order {
    height: 158px;
    background-color: $color-grey-light-1;
    padding: 27px 108px;
    margin-bottom: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .order_number {
      text-align: center;

      p {
        font-size: 14px;
        color: $color-grey-dark-2;
        font-style: normal;
      }

      h4 {
        font-size: 3rem;
        color: $color-grey-dark-2;
        font-style: italic;
      }
    }

    .order_msg {

      h6 {
        font-size: 14px;
        color: $color-grey-dark-2;
        margin-bottom: 8px;
        font-style: normal;
      }

      p {
        font-size: 12px;
        color: $color-grey-light-3;
      }
    }
  }

  .order_info {
    display: flex;
    justify-content: space-between;

    .personal_info {
      width: 311px;
      height: 260px;
      border: 1px solid $color-grey-light-2;
      position: relative;

      .content {
        flex-direction: column;
        padding: 15px 25px;

        h6 {
          font-weight: lighter;
          font-size: 12px;
          font-style: normal;
        }

        p {
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
        }
      }
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-grey-light-2;
      height: 45px;

      h4 {
        font-size: 14px;
        font-style: italic;
        font-weight: bold;
        color: $color-grey-dark-2;
      }
    }

    .order_details {
      display: flex;
      justify-content: space-between;
      padding: 9px 20px;

      h6 {
        font-size: 12px;
        font-weight: lighter;
        font-style: normal;
      }

      p {
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
      }
    }

    .resume_footer {
      background-color: $color-grey-light-2;
      height: 45px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      bottom: 0;

      p {
        font-style: normal;
      }
    }
  }
}

@media only screen and (max-width: 1900px) {

  .offer_show {
    width: 60%;

    .order {

      .order_msg {

        h6 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1800px) {

  .offer_show {
    width: 65%;
  }
}

@media only screen and (max-width: 1660px) {

  .offer_show {
    width: 70%;

    .order {

      .order_msg {

        h6 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1550px) {

  .offer_show {
    width: 75%;

    .order {

      .order_msg {

        h6 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {

  .offer_show {
    width: 80%;

  }
}

@media only screen and (max-width: 1350px) {

  .offer_show {
    width: 90%;
  }
}

@media only screen and (max-width: $bp-largest) {

  .offer_show {
    width: 98%;
  }
}

@media only screen and (max-width: $bp-large) {

  .offer_show {
    width: 98%;
    padding: 50px;

    .order {
      padding: 0;
      justify-content: space-around;
    }

    .sucess_warn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .offer_show {
    padding: 25px;
  }
}

@media only screen and (max-width: 730px) {
  .offer_show {
    padding: 25px;

    .sucess_warn {
      padding: 20px;
      height: 125px;
    }

    .order {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: $bp-small) {

  .sucess_warn_mobile {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .offer_show {
    width: 90%;
    padding: 10px;

    .sucess_warn {
      display: none;
    }

    .order {

      .order_msg {

        h6 {
          font-size: 2rem;
        }

        p {
          text-align: center;
          font-size: 1.6rem;
        }
      }
    }

    .order_info {
      flex-direction: column;
      align-items: center;

      .personal_info {
        width: 100%;
        margin-bottom: 2rem;
      }
    }

  }
}

@media only screen and (max-width: $bp-smallest) {

  .offer_show {

    .order {
      padding: 10px;
      height: 23rem;

      .order_msg {

        h6 {
          text-align: center;
        }
      }

    }

    .order_info {

      .personal_info {

        .header {

          h4 {
            font-size: 2.3rem;
          }
        }

        .content {

          h6 {
            font-size: 15px;
          }

          p {
            font-size: 17px;
          }
        }

        .order_details {

          h6 {
            font-size: 15px;
          }

          p {
            font-size: 17px;
          }
        }

        .resume_footer {

          h6 {
            font-size: 15px;
          }

          p {
            font-size: 17px;
          }
        }

      }
    }
  }
}

// $bp-largest: 80em;     // 1200px
// $bp-large: 68.75em;    // 1100px
// $bp-medium: 56.25em;   // 900px
// $bp-small: 37.5em;     // 600px
// $bp-smallest: 31.25em; // 450px
