.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40%;
  margin-bottom: 2rem;
  .first, .next, .last,
  .page.gap, .prev {
    display:none;
  }
  .page {
    font-size: 2rem;
    font-style: bolder;
    display: flex;
    align-items: center;
    font-weight: bolder;
    a {
      color: $color-grey-light-3;
    }
    &.current {
      font-size: 2.5rem;
      line-height: 2.5rem;
      color: black;
      border-bottom: 3px solid $color-primary;
    }
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 0 30%;
    .page {
      font-size: 3rem;
    }
  }
  @media only screen and (max-width: $bp-small) {
    padding: 0 20%;
    .page {
      font-size: 3rem;
    }
  }
}