.sidebar {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  .sidebar_form_fields {
    width: 23rem;
    position: relative;
    margin-bottom: 0.6rem;
    .form_label {
      font-size: 2rem;
      font-style: italic;
      font-weight: 600;
      margin-bottom: 0.6rem;
    }
    .check_boxes_area {
      max-height: 0;
      overflow: hidden;
      overflow-y: scroll;
      transition: all 0.5s linear;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &.active .check_boxes_area {
      max-height: 14.3rem;
    }
    .sidebar_toggler {
      position: absolute;
      font-size: 2rem;
      font-weight: 600;
      left: 21.5rem;
      top: 0;
      transition: all 0.3s linear;
      cursor: pointer;
    }
    .check_boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .checkbox label {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-style: italic;
        color: $color-grey-dark-2;
        margin-bottom: 1.5rem;
        input[type="checkbox"] {
          display: none;
        }
        &:before {
          content: "";
          display: inline-block;
          height: 2rem;
          width: 2rem;
          margin-right: 0.5rem;
          border: 1px solid $color-grey-light-3;
          border-radius: 4px;
        }
        &.clicked:before {
          content: "\2713";
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          font-size: 15px;
          color: black;
          text-align: center;
          line-height: 15px;
        }
      }
    }
  }
}
