//  import css libraries
@import "select2/dist/css/select2";
@import "font-awesome";

// import default config
@import "config/colors";
@import "config/fonts";
@import "config/screens";

// import components
@import "components/index";

// default configs

* {
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-largest) {
    font-size: 58%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 40%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-grey-light-1;
}

main {
  display: flex;
}

header,
footer {
  background-color: $color-primary;
}
