<div class="admin-profile">
    <div class="forms-container">
        <div class="form-box">
            <%= render 'shared/forms/address_data', address: current_user&.cart&.address %>
        </div>
    </div>
</div>
